/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}






.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', sans-serif;
}

.logo {
	width: 88%;
	height: 42px;
	background: #1AAAE2;	
	float: right;
	padding-top: 15px;
	padding-bottom: 15px;
}

aside {
	width: 12%;
	height: 993px;
	background: #113250;
	float: left;
}

.menu {
	color: #FFFFFF;
	padding-top: 27px;
	padding-left: 15px;
	padding-bottom: 47px;
}
.menu:hover {
	background: #13293E;
	cursor: pointer;
}
.option {	    
    color: white;
    height: 59px;           
}

.option:hover {
	background: #13293E;
	cursor: pointer;
}
.menu1 {
	font-size: 16px;
	text-align: left;
    height: 25px;
    width: 124px;
    padding: 17px 0 0 33px;
}

hr {
    border-top: 1px dotted lightgreen;


}

.content {
	width: calc(88% - 32px);
	height: 891px;
	margin: 15px;
	color: #054A6F;
	border: 1px solid #C9C9C9;
	border-radius: 4px;
	float: left;
}

.empty {
	background: #F7F7F7;
	height: 60px;
	border-radius: 3px 3px 0px 0px;
	clear: both;
}

.form {
	padding-top: 30px;
	padding-left: 40px;
	clear: both;
	padding-right: 156px;		
}


.form label {
	font-size: 16px;
    font: Bold 16px Open Sans;
    width: 40%;
    float: left; 
    display: block;
}

.form input {
	width: calc(60% - 2px);
	border: 1px solid #C9C9C9;
	height: 28px;
	margin-bottom: 26px;
}

.title {
	font: Semibold 28px/38px Open Sans;
	font-size: 31px;
	color: #054A6F;
	text-align: left;
	padding-left: 40px;
	padding-top: 22px;
}

.title2 {
	font-size: 28px;
	font: Bold 31px/42px Open Sans;
	color: #FFFFFF;
	padding-left: 41.98px;
	text-align: left;
}

.column1 {
    width: 44.49%;
	float: left;	
	padding-right: 11.02%;
}

.column2 {
    width: 44.49%;
	float: left;		
}

.save {
	background: #1AAAE2;
	border-radius: 20px;
	width: 94px;
    height: 41px;
    text-align: center;
    font: Regular 16px/22px;
    color: #FFFFFF;
    margin-top: 48.5px;
    margin-left: 40px;
}
.save:hover {
	background: #1aaad1;
	cursor: pointer;
}

header {
	height: 87px;
}

.search {
	background: #1AAAE2;
	border-radius: 20px;
	height: 41px;
	width: 94px;
	text-align: center;
    font: Regular 16px/22px;
    color: #FFFFFF;
    float: right;
    position: relative;
    border:none;
    

}

.searchbar {
	width: 555px;
	height: 41px;
	background: #F0F0F0;
	border-radius: 20px;
    position: absolute;
	top: 25px;
	left: 50%;
	margin-left: -276.5px;
}

.searchicon {
    width: 21.55px;
    height: 21.55px;
    position: absolute;
    float: left;
    top: 10px;
    left: 20px;
}
.logogif {
    width: 130px;
    height: 43.02px;
    position: absolute;
    padding-left: 47px;
    padding-top: 22px;
}
.usericon {
	width: 42.84px;
	height: 43.02px;
    position: absolute;
    padding-top: 22px;
    right: 398.16px;    
}
.usericon:hover {
	cursor: pointer; 
}
.switchicon {
	width: 22px;
	height: 17px;
	position: absolute;
	padding-top: 35px;
	right: 83px;
}
.switchicon:hover {
	cursor: pointer;
}
.logout {
	width: 20px;
	height: 20px;
	position: absolute;
	padding-top: 33px;
	right: 38px;
}
.logout:hover {
	cursor: pointer;
}
.dropdownmenu {
	width: 35px;
	height: 35px;
	position: absolute;
	right: 140px;
	padding-top: 5px;
}
.dropdownmenu:hover {
	cursor: pointer;
}
.dashboard {
	width: 20px;
	height: 20px;
	position: absolute;
}
.orders {
	width: 20.07px;
	height: 25px;
	position: absolute;
}
.file {
	width: 25px;
	height: 25px;
	position: absolute;
}
.Shippingdocs {
	width: 19.17px;
	height: 25px;
	position: absolute;
}
.Shippingdocs2 {
	width: 16.67px;
	height: 22.5px;
	position: absolute;
}
.Backarrow {
	width: 15.5px;
	height: 15.5px;
	position: relative;
	padding-left: 110.5px;	
}

.welcome {
	width: 207px;
	height: 24px;
	font: Bold 18px/24px Open Sans;
	text-align: left;
	color: #054A6F;
	padding-top: 31px;
	position: absolute;
	right: 136px;
}





